.AccountSection__inner {
  &__list {
    width: 249px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-right: 38px;
    border: 1px solid #EEEE;
    border-top: none;
    border-left: none;
    border-bottom: none;
    
    &__item {
      width: 100%;
      font-family: "Onest";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      color: #000e23;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5.67px;
      text-decoration: none;
      padding: 16px 0 16px 22.67px;
    }
    &__item:hover{
      background: rgba(112, 0, 255, 0.1);
      color: #7000FF;
      & svg path{
        stroke: #7000FF;
      }

    }
    &__item:nth-child(3) {
      margin-bottom: 405px;
    }
  }
}
