.MenuLeft__inner {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #eeee;
    border-top: none;
    border-left: none;
    border-bottom: none;
    padding-right: 18px;
    margin-right: 40px;

    &__item {
      width: 249px;
      height: 51px;
      font-family: "Onest";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      color: #000e23;
      flex: none;
      order: 1;
      flex-grow: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5.67px;
      text-align: center;
      color: #7000ff;
      padding: 16px 0 16px 22.67px;
    }
    &__item:hover{
      color: #7000ff;
      background: rgba(112, 0, 255, 0.1);
      cursor: pointer;
      & svg path{
        stroke: #7000ff;
      }
      &::after{
        width: 10px;
        height: 10px;
      }
    }
    &__item:nth-child(5) {
      margin-bottom: 308px;
    }
  }
}
