.AllMenu__inner {
  display: flex;
  justify-content: flex-start;
  align-items: self-end;
  padding: 24px 0;
  gap: 84.4px;
  background: #F4F4F4;
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 7px;
      font-family: "Onest";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      color: #000000;
      padding: 16px 20px;
      border: radius 6px;
      text-decoration: none;
    }
    &__item:hover {
      background: #F1E6FF;
      color: #7000FF;
      fill: transparent;
      cursor: pointer;
      & svg path {
        stroke: #7000FF;
      }
    }

    
  }
  &__div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    &__img {
      display: block;
      width: 82px;
      height: 82px;
    }
    &__title {
      font-family: "Onest";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin: 0;
      margin-bottom: 8px;
    }
    &__p {
      font-family: "Onest";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
      opacity: 0.5;
      margin: 0;
    }
  }
}
.AllMenu__out{
  background: #F4F4F4;
}